<div class="page_wrapper">

	<section class="post">

	<% @posts.each do |post| %>
	 		<%= image_tag post.cover_photo, :class => 'img-responsive home_post' %>
	  <div class="featured_posts">
	    <h2><%= link_to post.title, post_path(post) %></h2>
	    <h4><%= post.intro %></h4>
	    <p>By <%= post.user.full_name %>
		  </div>
			<% end %>
	</section>
</div>