<div class="page_wrapper">
	<% @posts.each do |post| %>
	  <div class="post_home">
	  	<%= image_tag post.cover_photo, :class => 'img-responsive cover_photo' %>
	    <h2><%= link_to post.title, post_path(post) %></h2>
	    <h4><%= post.intro %></h4>
	    <p>By <%= post.user.full_name %>
		  </div>
			<% end %>
</div>