<section class="post">
<% @posts.each do |post| %>
 
  <div class="featured_posts">
    <h2><%= link_to post.title, post_path(post) %></h2>
    <h3><%= post.intro %></h3>

		<% if post.user.present? %>
	     <p><%= post.user.email %></p>
	    <% end %>
	  </div>
		<% end %>
</section>

