<% @posts.each do |post| %>
 
  <div class="post-list">
    <h1><%= link_to post.title, post_path(post) %></h1>
    <h3><%= post.intro %></h3>
    <p><%= post.body %></p>
  </div>

	<% if post.user.present? %>
      <small><%= post.user.email %></small>
    <% end %>

  <hr />
<% end %>