

<% @posts.each do |post| %>
 	<div class="post_wrapper">
 		<%= image_tag post.cover_photo %>
 	
  <div class="featured_posts">
    <h2><%= link_to post.title, post_path(post) %></h2>
    <h3><%= post.intro %></h3>
  </div>

	<% if post.user.present? %>
      <small><%= post.user.email %></small>
    <% end %>

  <hr />
  </div>
<% end %>